.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.light-grey-text-color{
    color: #646D7E;
}
.background-img{
    position: relative;
    background-image: url(./photos/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 500px;
    width: auto;
    background-size: 400px 300px;
    background-color: #C2DFFF;
}

.container{
    margin: 0px;
}

.navigation{
    width: -webkit-fill-available;
    padding: 10px 35px 10px 35px;
    align-items: center;
}

.navigation li {
    list-style: none;
    margin-left: 50px;

}

.main-title{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #151B54;
}

li:nth-child(4){
    background-color: #1e90ff;
    height: 30px;
    width: 120px;
    padding-top: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    box-shadow: 1px 0px 20px 3px rgb(39 57 88 / 40%);
}
li:nth-child(1), li:nth-child(5){
    color: #151B54;
}
li:nth-child(2), li:nth-child(3) {
    color: #646D7E;
}
hr{
    margin: 0;
    margin: 0px 35px;
}
.background-img-content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn{
    background-color: #1e90ff;
    height: 40px;
    width: 120px;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: white;
    box-shadow: -3px 8px 10px rgb(39 57 88 / 25%);  
}
.btn:nth-child(2n){
    background-color: #C2DFFF;
    border: 1px solid #1e90ff;
    box-shadow: none;
    color: #1e90ff;
    margin-left: 10px;
}

.background-img-content {
    line-height: 40px;
}
.background-img-content h1{
    font-weight: 500;
    color: #151B54;
}

.body-box1{
    text-align: center;
    flex-direction: column;
    color: #151B54 ;
    margin: 60px 0px 150px 0px;
}
.body-box1 h1{
    font-weight: 500;
}
.body-box1-text{
    width: 750px;
    color: #151B54;
   
}
.child-box{
    width: 250px;
    height: 200px;
    flex-direction: column;
    margin: 25px;
}
.child-box-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.child-box h3{
    color: #1e90ff;
}


.body-box2 h1{
    color: #151B54;
    font-weight: 500;
    padding-top: 20px;
    text-align: center;

}
.boxes-container {
    flex-wrap: wrap;
    margin: 0px 200px 0px 200px;
    justify-content: space-evenly;
}
.boxes{
    border-radius: 5px;
    width: 250px;
    height: 200px;
    margin-top: 40px;
    margin-bottom: 15px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    box-shadow: 0 0 10px 10px rgb(39 57 88 / 10%);
}
.boxes h1{
    font-size: 16px;
}
.boxes img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.boxes:nth-child(2){
    padding: 0;
}
#speaker{
    width: 270px;
    height: 250px;
    border-radius: 0%;
}

.button-div{
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
}
.button-div .btn:nth-child(2n){
    background-color: white;
}